<launch>

    <arg name="sync_sink" default="true"/>
    <arg name="width" default="960"/>
    <arg name="height" default="540"/>
    <!--
    <arg name="width" default="1920"/>
    <arg name="height" default="1080"/>
    -->
    <arg name="fps" default="25"/>

    <!-- Start the GSCAM node -->
    <node pkg="gscam" type="gscam" name="csi_cam_narrow" output="screen">
        <param name="camera_name" value="csi_cam_narrow"/>
        <param name="image_encoding" value="jpeg" />
   <!--      <param name="gscam_config"
                value="nvarguscamerasrc wbmode=1 ispdigitalgainrange='1 8'  aeantibanding=3 ! video/x-raw(memory:NVMM), width=(int)$(arg width), height=(int)$(arg height), format=(string)NV12, framerate=(fraction)$(arg fps)/1 ! nvvidconv ! video/x-raw, format=(string)BGRx ! videoconvert ! videorate ! video/x-raw, framerate=$(arg fps)/1 ! video/x-raw, format=(string)BGR"/> -->
        <param name="gscam_config"
     value="nvarguscamerasrc wbmode=1 ispdigitalgainrange='1 8'  aeantibanding=3 ! video/x-raw(memory:NVMM), width=(int)$(arg width), height=(int)$(arg height), format=(string)NV12, framerate=(fraction)$(arg fps)/1 ! nvvidconv ! video/x-raw, format=(string)BGRx ! jpegenc ! jpegparse"/>
        <!-- <param name="camera_info_url" value="package://gscam/calibration/narrow.yaml"/> -->
        <param name="frame_id" value="narrow_frame"/>
        <remap from="camera/image_raw" to="csi_cam_narrow/image_raw"/>
        <remap from="camera/camera_info" to="csi_cam_narrow/camera_info"/>
        <remap from="/set_camera_info" to="csi_cam_narrow/set_camera_info"/>
    </node>

<!-- original config        
 <param name="gscam_config"
               value="nvcamerasrc intent=3 sensor-id=1 wbmode=3 ! video/x-raw(memory:NVMM), width=(int)$(arg width), height=(int)$(arg height), format=(string)I420, framerate=(fraction)$(arg fps)/1 ! nvvidconv ! video/x-raw, format=(string)BGRx ! videoconvert ! video/x-raw, format=(string)BGR"/> 
               -->

<!--
    <node pkg="gscam" type="gscam" name="csi_cam_wide" output="screen">
        <param name="camera_name" value="csi_cam_wide"/>
        <param name="gscam_config"
               value="nvcamerasrc  intent=3 sensor-id=0 wbmode=3 ! video/x-raw(memory:NVMM), width=(int)$(arg width), height=(int)$(arg height), format=(string)I420, framerate=(fraction)$(arg fps)/1 ! nvvidconv ! video/x-raw, format=(string)BGRx ! videoconvert ! video/x-raw, format=(string)BGR"/>
        <param name="camera_info_url" value="package://gscam/calibration/wide.yaml"/>
        <param name="frame_id" value="wide_frame"/>
        <remap from="camera/image_raw" to="csi_cam_wide/image_raw"/>
        <remap from="camera/camera_info" to="csi_cam_wide/camera_info"/>
        <remap from="/set_camera_info" to="csi_cam_wide/set_camera_info"/>
    </node>
-->

<!--
    gst-launch-1.0 nvarguscamerasrc ! 'video/x-raw(memory:NVMM),width=1920, height=1080, framerate=60/1, format=NV12' 
    ! nvvidconv ! 'video/x-raw, width=640, height=360' ! nvvidconv ! omxh264enc  bitrate=10000000 ! h264parse ! queue ! rtph264pay config-interval=10 pt=96 ! udpsink host=192.168.2.1 port=5600
-->
</launch>
